<h1>{{title}}</h1>

<button *ngIf="!isAuthenticated" (click)="login()"> Login </button>
<button *ngIf="isAuthenticated" (click)="logout()"> Logout </button>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <nav>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="tasks">Tasks</a></li>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>