<button mat-button (click)="goBack()">BACK</button>

<div *ngIf="board" style="margin:10px;">
    <div>
        <h2>{{board.title | uppercase}}</h2>
        <button mat-button (click)="deleteBoard()">DELETE BOARD</button>
    </div>
    
    <div>
        <h3>Details</h3>
        <p>ID: {{board.id}}</p>
        <p>Description: {{board.description}}</p>
    </div>

    <div>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>EDIT</mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : 'Edit this board\'s title and/or description.'}}
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [(ngModel)]="board.title" placeholder="Title">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="board.description" placeholder="Description">
                </mat-form-field>
                <button mat-button (click)="save()">SAVE</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    
    <div>
        <h3>Tasks</h3>

        <div style="display: block; width: 250px;">
            <mat-form-field>
                <input #newTask matInput placeholder="New Task">
            </mat-form-field>
            <button mat-button (click)="addTask(newTask.value); newTask.value = '';">ADD</button>
        </div>

        <app-task *ngFor="let task of tasks" [task]="task"></app-task>
    </div>
</div>

