<button mat-button (click)="goBack()">BACK</button>

<div *ngIf="board" style="margin:10px;">
    <h2>
        {{board.title | uppercase}} Details 
        <button mat-button (click)="save()">SAVE</button>
    </h2>

    <div>
        <span>id: </span>{{board.id}}
    </div>

    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="board.title" placeholder="Title">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput [(ngModel)]="board.description" placeholder="Description">
        </mat-form-field>
    </div>

    <h2 style="margin:10px;">
            {{board.title | uppercase}} Tasks
            <mat-form-field>
                <input #newTask matInput placeholder="New Task">
            </mat-form-field>
            <button mat-button (click)="addTask(newTask.value)">ADD</button>
    </h2>
    
    <ul class="tasks">
        <li *ngFor="let task of tasks">
            <a routerLink="tasks/detail/{{task.id}}">
                <span class="badge">{{task.name}}</span>
                {{task.detail}}
            </a>
        </li>
    </ul>
</div>

