<h2 style="margin:10px;">
    My Boards
    <mat-form-field>
         <input #newBoard matInput placeholder="New Board">
     </mat-form-field>
     <button mat-button (click)="addBoard(newBoard.value)">ADD</button>
</h2>

<ul class="boards">
    <li *ngFor="let board of boards">
        <a routerLink="detail/{{board.id}}">
            <span class="badge">{{board.title}}</span>
            {{board.description}}
        </a>
        <button mat-button (click)="deleteBoard(board.id)" style="float: right; bottom: 5px;">DEL</button>
    </li>
</ul>