<mat-grid-list cols="4" rowHeight="90px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">
    <div *ngIf="tile.id == 'label'">
      {{tile.text}}
    </div>
    <div *ngIf="tile.id == 'projects'">
      <mat-card *ngFor="let project of projects">
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-actions>
            <button mat-button routerLink="/projects/detail/{{project.id}}">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="tile.id == 'boards'">
      <mat-card *ngFor="let board of boards">
        <mat-card-title>{{board.title}}</mat-card-title>
        <mat-card-actions>
            <button mat-button routerLink="/boards/detail/{{board.id}}">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="tile.id == 'tasks'">
      <mat-card *ngFor="let task of tasks">
        <mat-card-title>{{task.title}}</mat-card-title>
        <mat-card-actions>
            <button mat-button routerLink="/tasks/detail/{{task.id}}">VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>