<div>
    <h2 style="margin:10px;">
        {{title}}
    </h2>

    <p style="display: block; width: 250px; margin:10px;">
        <mat-form-field>
            <input #tl matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field>
            <input #dc matInput placeholder="Description">
        </mat-form-field>
        <mat-form-field *ngIf="allowBoardAdding && availableProjectsLoaded">
            <mat-label>Project</mat-label>
            <mat-select [(value)]="selectedProject">
                <mat-option *ngFor="let project of availableProjects" [value]="project.id">{{project.title}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button (click)="addBoard(tl.value, dc.value, selectedProject); tl.value = ''; dc.value = '';">ADD</button>
    </p>

    <app-board-card *ngFor="let board of boards"
        [board]="board"
        [parentProjectId]="board.currentProjectId"
        (deleted)="deleteBoard($event)"></app-board-card>
</div>