<div>
    <h2 style="margin:10px;">
        {{title}}
    </h2>
    
    <p style="display: block; width: 250px; margin:10px;">
        <mat-form-field>
            <input #newTask matInput placeholder="New Task">
        </mat-form-field>
        <button mat-button (click)="addTask(newTask.value); newTask.value = '';">ADD</button>
    </p>
    
    <app-task-card *ngFor="let task of tasks"
        [task]="task"
        (deleted)="onDeleted($event)"
        (completed)="onCompleted($event)"></app-task-card>
</div>