<button (click)="goBack()">go back</button>

<div *ngIf="task">
    <h2>{{task.name | uppercase}} Details</h2>

    <div>
        <span>id: </span>{{task.id}}
    </div>

    <div>
        <!-- <span>name: </span>{{task.name}} -->
        <label>name:
            <input [(ngModel)]="task.name" placeholder="name"/>
        </label>
    </div>

    <div>
        <!-- <span>details: </span>{{task.details}} -->
        <label>details:
            <input [(ngModel)]="task.details" placeholder="details"/>
        </label>
    </div>

    <button (click)="save()">save</button>
</div>