<button mat-button (click)="goBack()">BACK</button>

<div *ngIf="task" style="margin:10px;">
    <h2>{{task.name | uppercase}}</h2>

    <div>
        <h3>Details</h3>
        <p>ID: {{task.id}}</p>
        <p>Details: {{task.detail}}</p>
        <p>Created: {{task.created}}</p>
        <p>Estimate: days-{{task.timeEstimate.days}}, hours-{{task.timeEstimate.hours}}, minutes-{{task.timeEstimate.mintues}}, seconds-{{task.timeEstimate.seconds}}</p>
        <p>Logged: days-{{task.timeLogged.days}}, hours-{{task.timeLogged.hours}}, minutes-{{task.timeLogged.mintues}}, seconds-{{task.timeLogged.seconds}}</p>
    </div>

    <div>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>EDIT</mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : 'Edit this task\'s name and/or details.'}}
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [(ngModel)]="task.name" placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="task.detail" placeholder="Detail">
                </mat-form-field>
                <button mat-button (click)="save()">SAVE</button>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>LOG TIME</mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : 'Enter a time amount (days, hours, minutes, seconds)'}}
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput #days placeholder="days">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #hours placeholder="hours">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #minutes placeholder="minutes">
                </mat-form-field>
                <mat-form-field>
                    <input matInput #seconds placeholder="seconds">
                </mat-form-field>
                <button mat-button (click)="add(days.value, hours.value, minutes.value, seconds.value)">ADD</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <!-- <div>
        <mat-form-field>
            <input matInput [(ngModel)]="task.name" placeholder="Name">
        </mat-form-field>
    </div> -->

    <!-- <div>
        <mat-form-field>
            <input matInput [(ngModel)]="task.detail" placeholder="Detail">
        </mat-form-field>
    </div> -->
</div>