<p style="display: block; width: 250px; margin: 10px;">
    <mat-form-field >
        <input #token matInput placeholder="token">
    </mat-form-field>

    <button mat-button (click)="validate(token.value)">Validate</button>
</p>

<h1 *ngIf="!this.validToken">TOKEN NOT VALIDATED!</h1>

<div *ngIf="this.validToken">
    <h1>TOKEN VALIDATED!</h1>
    <p>Set up your credentials below:</p>

    <mat-form-field >
        <input #firstName matInput placeholder="first name">
    </mat-form-field>
    <mat-form-field >
        <input #lastName matInput placeholder="last name">
    </mat-form-field>
    <mat-form-field >
        <input #email matInput placeholder="email (used for login)">
    </mat-form-field>
    <mat-form-field >
        <input #password matInput placeholder="password">
    </mat-form-field>

    <button mat-button (click)="createAccount(firstName.value, lastName.value, email.value, password.value)">Create Account</button>
</div>

