<!-- <p style="display: block; width: 250px; margin: 10px;">
    <mat-form-field >
        <input #token matInput placeholder="token">
    </mat-form-field>

    <button mat-button (click)="validate(token.value); token.value = '';">Validate</button>
</p> -->

<div *ngIf="this.validToken">
    <p>TOKEN VALIDATED! Set up your credentials below:</p>

    <p>Use the email you registered with as your login.</p>

    <mat-form-field >
        <input #firstName matInput placeholder="first name">
    </mat-form-field>
    <mat-form-field >
        <input #lastName matInput placeholder="last name">
    </mat-form-field>
    <mat-form-field >
        <input #password matInput placeholder="password">
    </mat-form-field>

    <button mat-button (click)="createAccount(firstName.value, lastName.value, password.value);
                                firstName.value = '';
                                lastName.value = '';
                                password.value = '';">Create Account</button>
</div>

