<div *ngIf="board" style="margin:10px;">
    <div>
        <h2>{{board.title | uppercase}}</h2>
        <h3>{{board.description}}</h3>
    </div>

    <div>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>EDIT</mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? '' : 'Edit this board\'s title and/or description.'}}
                    </mat-panel-description> 
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput [(ngModel)]="board.title" placeholder="Title">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="board.description" placeholder="Description">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Project</mat-label>
                    <mat-select [(value)]="selectedProject">
                        <mat-option *ngFor="let project of availableProjects" [value]="project.id">{{project.title}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="save()">SAVE</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    
    <app-task-list
        [title]="tasksTitle"
        [tasks]="tasks"
        [allowTaskAdding]="false"
        (added)="onAdded($event)"
        (deleted)="onDeleted($event)"
        (completed)="onCompleted($event)"></app-task-list>
</div>

<button mat-button (click)="goBack()">BACK</button>
<button mat-button (click)="deleteBoard()">DELETE BOARD</button>